<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Declaración obligatoria de la sección log4net -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="CnCajaLocal"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=INAIPI_CajaLocal;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Configuración del motor de auditoría -->
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\CajaOffline_Log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
		</root>
	</log4net>
</configuration>